TAPIS_BASE_URL="https://tacc.tapis.io"
TAPIS_TENANT_ID="tacc"
TAPIS_CLIENT_KEY=""
TAPIS_CLIENT_SECRET=""
TAPIS_CLIENT_SCOPE="PRODUCTION"
TAPIS_SERVICE_UNAME="tacobot"
TAPIS_SERVICE_PASS="9@$sw0r6!"
APP_SECRET_KEY="8(q4Jw6Q_NE%/HE!U"
APP_OTP_KEY="9MwDNe9hwHyaVnpmTAPWeXWbNWeLHpdN"
APP_PUBLIC_CNAME="vbr-api.tacc.cloud"
APP_LOG_LEVEL="DEBUG"
APP_DEBUG="True"
APP_DEFAULT_PAGE_SIZE=100
APP_LOG_PATH="."
